.planet {
	position: absolute;
	left: 47%;
	top: 115%;
	padding-bottom: 27%;
}

.about {
	position: absolute;
	align-items: center;
	top: 30%;
	left: 8%;
	background: yellow;
}

.home {
	position: absolute;
	align-items: center;
	top: 30%;
	left: 8%;
}

.about {
	position: absolute;
	align-items: center;
	top: 30%;
	left: 8%;
}
