body {
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.planet {
	position: absolute;
	left: 47%;
	top: 115%;
	padding-bottom: 27%;
}

.home {
	position: absolute;
	align-items: center;
	top: 30%;
	left: 8%;
}
